
@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeue-Medium.eot?v=0.1.1');
  src: url('../fonts/HelveticaNeue-Medium.eot?v=0.1.1?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeue-Medium.woff?v=0.1.1') format('woff'),
  url('../fonts/HelveticaNeue-Medium.ttf?v=0.1.1') format('truetype');
}
@font-face {
  font-family: 'Lora';
  src: url('../fonts/Lora-Regular.eot?v=0.1.1');
  src: url('../fonts/Lora-Regular.eot?v=0.1.1?#iefix') format('embedded-opentype'),
  url('../fonts/Lora-Regular.woff?v=0.1.1') format('woff'),
  url('../fonts/Lora-Regular.ttf?v=0.1.1') format('truetype');
}
@font-face {
  font-family: 'Lora Italic';
  src: url('../fonts/Lora-Italic.eot?v=0.1.1');
  src: url('../fonts/Lora-Italic.eot?v=0.1.1?#iefix') format('embedded-opentype'),
  url('../fonts/Lora-Italic.woff?v=0.1.1') format('woff'),
  url('../fonts/Lora-Italic.ttf?v=0.1.1') format('truetype');
}
