<p>
  Recently I built a website and online store for Recyclabills - handmade wallets made from recycled Bonsoy containers.
  <br/><br/>
  I started making these wallets late last year, and people seemed to like the idea. So I thought I could give
  myself some practice integrating a payment gateway to my web-apps, and support Pollinate Energy while I was at it!

  <br/><br/>

  Check the site out at <a href="http//www.recyclabills.com">recyclabills.com</a>, and you can even
  buy a wallet if you feel like it!

  <img src="./images/tram.jpg" />
</p>
