<!--<p>-->

  <!--Recently I've become enamoured with the concept of <i>Computational Art</i>. It's clicked with me in quite a-->
  <!--unique way, synthesising my artistic creativity and love for problem solving. Research into the works of artists-->
  <!--like Rune Madsen (<a target="_blank" href="http://www.runemadsen.com">runemadsen.com</a>) has inspired my own-->
  <!--investigation into the mathematical underpinnings of Jazz.-->

  <!--<br/><br/>-->

  <!--<h2>The Idea</h2>-->

  <!--<p>-->
  <!--Design and build a computer program that generates a Charlie Parker style solo over a given chord progression.-->
  <!--</p>-->

  <!--<br/><br/>-->

<!--</p>-->

<!--<h2>The Role of Phrasing</h2>-->

<!--<p>-->
  <!--Immediately questions arise around determining success; What is considered a Charlie Parker solo, for example.-->
  <!--In this case success lies in <i>phrasing</i>. Jazz enthusiasts will know that when a humans solo in phrases --->
  <!--not single notes. Given that my approach is not to program phrases, if the generated solo can be deconstructed-->
  <!--into phrases I will know I'm on the right track.-->

<!--</p>-->

<!--<h2>The Algorithm</h2>-->

<!--<p>-->

  <!--For the mathematically/programatically inclined, the algorithm will be based on a Markov Chain model.-->

<!--</p>-->


<p>
  I began playing piano when I was 5 years old. My father was (and still is) a jazz musician and music teacher,
  so he had every intention of starting me early. As a result, music played a huge and unique role in my childhood;
  Im listened to Coltrane while my friends listened to Greenday, and family road trips were better described as
  aural and theory training.
  <br/><br/>
  No child wants to sacrifice an hour of their day to piano practice - so debates were frequent. I rarely won.
  My Dad's counter argument was, at least, consistent - 'one day you'll thank me for this'. Though this strategy was
  lost on my siblings - somewhere along the way I learned to love it.
  <br/><br/>
  In my early teens my focus shifted from classical to jazz. Suddenly I was exposed to a world of musical freedom
  and I had a new found power over what I played. I began transcribing the work of my favourite artists (often
  entire albums at a time) and incorporating their favourite tricks and phrases into my own playing. I studied note
  choice, passing tones, encapsulation and other improvisation techniques to improve my playing.
  <br/><br/>
  As a result, my improvisation was far from than random. In fact, the more I learned and practiced, the less
  random my soloing became. My playing exhibited certain patterns - my note choice, phrasing, and other techniques
  were selected from a mental database of what I'd learned, what I'd heard, and muscle memory. These patterns were
  my <i>style</i>.
  <br/><br/>
  Consider Charlie Parker - arguably the most famous jazz musician of all time - and his individual style. It's one
  of the most distinct and recognisable in jazz history. Therefore it must be based on a set of strong, defined
  patterns. And patterns can be modelled.
  <br/><br/>
  Recently I've become enamoured with the concept of Computational Art and Meta-design. Artists like Rune Madsen
  (<a href="http://www.runemadsen.com">runemadsen.com</a>) are doing some incredible work writing computer programs
  that can create unique visual art based upon sets of patterns they have been written to adapt.
  <br/><br/>
  My reflection on the patterns in improvisation, and my exploration in Computational Art has inspired me to
  investigate the degree to which Charlie Parker's playing can be modelled.
  <i>The Charlie Parker Project</i> is a computer program that aims to generate an improvisation in the style of
  Charlie Parker, over any given chord progression.
  <br/><br/>
  I've had many conversations over the past few weeks around how to approach the model, as well as what would
  constitute a 'Charlie Parker style solo'. I don't know the answer to either yet, but I intend
  to find out. Stay tuned.
</p>

