
<div class="row">
  <div class="home section col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h1>Thank God You're Here</h1>
    <p>I'm Taylor Rettke, and here are all my thoughts, ideas and work. <br/>
      I'm a designer, front-end developer, musician and all-round maverick creative. I'm
      easily excitable and love talking about great ideas - so feel free to get in
      touch to chat about new ideas.</p>
  </div>
</div>

<h1>Top Stories</h1>

  <div class="row">

    <div
      ng-repeat="story in featureStories track by $index"
      class="preview two-by-one col-lg-12 col-md-12 col-sm-12 col-xs-12">

      <div ng-show="story.Article" class="preview-top-banner">
        Blog Post
      </div>

      <div ng-show="story.Project" class="preview-top-banner">
        Work
      </div>

      <div class="row">
        <a ng-href="#/blog/{{story.Name}}">
          <div class="preview-image col-lg-5 col-md-5 col-sm-12 col-xs-12"
               back-img="{{story.PreviewImage}}"></div>
        </a>

        <div class="preview-main col-lg-7 col-md-7 col-sm-12 col-xs-12">
          <a ng-href="#/{{story.Type}}/{{story.Name}}"><h3>{{story.Title}}</h3></a>
          <p>{{story.Summary}}</p>
        </div>
      </div>

      <div class="preview-controls">
        <a ng-href="#/{{story.Type}}/{{story.Name}}">read more <i class="fa fa-lg fa-angle-right"></i></a>
      </div>
    </div>

  </div>

