<div class="me">
  <div class="row">
    <div class="home section col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h1>Where it All Began</h1>
      <p>
        I am the offspring of a jazz musician and an actor who gave me one piece of advice:
        Don't pursue a career in the creative arts. Being the obedient young person I was,
        I studied economics and finance at Melbourne University.
        <br/><br/>
        During this time, I discovered computer programming - the world's most powerful
        problem solving tool. It allowed me to express my creativity, bounded only by the
        edges of my imagination.
        <br/><br/>
        I now work as a designer and front end developer for a Melbourne-based innovation agency.
        In my spare time I'm continually exploring the applications of computer science in the
        creative arts, among other technology-focused projects of many forms.
        <br/><br/>
        I'm easily excitable and love chatting about interesting ideas. So feel free to get in
        touch to chat about anything and everything creative.
      </p>
    </div>
  </div>

  <h1>Get in Touch</h1>

  <div class="row">
    <div class="contact col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <hr/>
      <h3>Mail</h3>
      <p>
        <a href="mailto:taylor.rettke@gmail.com"><i class="fa fa-envelope"></i> taylor.rettke@gmail.com</a>
      </p>

      <hr/>

      <h3>Social</h3>
      <p>
        <i class="fa fa-lg fa-github"></i><a href="http://www.github.com/trettke"> - /trettke</a><br/>
        <i class="fa fa-lg fa-facebook-official"></i><a href="http://facebook.com/trettke"> - /trettke</a><br/>
        <i class="fa fa-lg fa-twitter"></i><a href="http://twitter.com/taylorrettke"> - @taylorrettke</a><br/>
        <i class="fa fa-lg fa-linkedin"></i><a href="http://au.linkedin.com/in/trettke"> - /trettke</a><br/>
        <!--<i class="fa fa-lg fa-youtube"></i><a href="http://www.youtube.com"> /trettke</a>-->
      </p>
    </div>

    <div class="map col-lg-8 col-md-8 col-sm-12 col-xs-12">
      <iframe frameborder="0"
              src="https://www.google.com/maps/embed/v1/place?q=
                62%20King%20St%2C%20Melbourne%2C%20Victoria%2C%20Australia
                &key=AIzaSyBaxqd1ceOUd3rI6fSUGcZ0TzV28735TFs">

      </iframe>
    </div>
  </div>
</div>

